node_modules
.env
WORKFLOW.md
npm-debug.log
.nyc_output
coverage
.coveralls.yml
/dist
client/build/*
!client/build/index.html
todo.md
client/components/Centers
client/components/Headerrr
client/components/UserAction.jsx
client/potential-trash
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
