$color_1: white;
$color_2: greenyellow;
$color_3: yellowgreen;
$font_family_1: 'Quicksand', sans-serif;
$background_color_1: #16534e;
$background_color_2: white;

body {
	font-family: $font_family_1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#introduction {
	font-family: $font_family_1;
	background: url(https://goo.gl/NKjMHZ) 0% 0%/cover;
	font-weight: 600;
	color: $color_1;
}
.fill-viewport {
	min-height: 100vh;
}
#header {
	background-color: $background_color_1;
}
span.navbar-toggler-icon {
	background-color: $background_color_2;
	height: 0.1em;
	margin-bottom: 5px;
	display: block;
}
img {
	width: 100%;
	height: 300px;
}
a.navbar-brand {
	font-weight: 700;
	font-size: 21px;
	&:hover {
		font-size: 31px;
	}
}
a {
	color: $color_1;
	&:hover {
		color: $color_2;
		font-size: 21px;
	}
}
h4 {
	margin-top: 30px;
}
footer {
	background-color: $background_color_1;
}
.footer-header {
	color: $color_1;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
	&:hover {
		font-size: 50px;
		color: $color_3;
	}
}
.footer-para {
	color: $color_1;
}
.social-link {
	color: $color_1;
	display: block;
	margin-bottom: 25px;
	&:hover {
		color: $color_3;
		font-size: 25px;
		text-decoration: none;
	}
}
.footer-list {
	list-style: none;
	display: block;
	margin-bottom: 25px;
}
