// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$white: #fff;
$greenyellow: #adff2f;
$yellowgreen: #9acd32;
$darkgreen: #16534e;
// 16534e
$black: #000;
$Quicksand: 'Quicksand', sans-serif;
$open-sans: 'Open Sans';
$btn-success: #5cb85c;

body {
  font-family: $Quicksand;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Header
#header {
  background-color: $darkgreen;
  font-family: 'Open Sans';
  span.navbar-toggler-icon {
    background-color: $white;
    height: 0.1em;
    margin-bottom: 5px;
    display: block;
  }
  a.navbar-brand {
    font-weight: 600;
    font-size: 21px;
    &:hover {
      font-size: 22px;
    }
  }
  a {
    color: $white;
    &:hover {
      color: $greenyellow;
      // font-size: 21px;
    }
  }
}

// Footer
footer {
  background-color: $darkgreen;
  .footer-header {
    color: $white;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    // &:hover {}
  }
  .footer-para {
    color: $white;
  }
  .social-link {
    color: $white !important;
    display: block;
    margin-bottom: 25px;
    padding-left: 16px;
    &:hover {
      color: $yellowgreen !important;
      font-size: 22px;
      text-decoration: none;
    }
  }
}

#introduction {
  font-family: $Quicksand;
  background: url(https://goo.gl/NKjMHZ) 0% 0% / cover;
  font-weight: 600;
  color: $white;
  .overlay {
    background-color: rgba(0,0,0,0.2);
  }
}
#info-1,
#pictures {
  background-color: $white;
}
.fill-viewport {
  min-height: 100vh;
}

img {
  width: 100%;
  height: 300px;
}
// h4 {
// 	margin-top: 30px;
// }

// register and login pages
.register-page,
.login-page,
.add-center-page,
.add-event-page {
  background: url('../images/camera.jpg') 0% 0%/cover, linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  min-height: 100vh;
  #form-box {
    font-weight: 600;
    background-color: rgba(255,255,255,0.55);
    font-size: 1.1em;
    font-family: $open-sans;
    h2 {
      font-weight: 500;
      margin-bottom: 53px;
      margin-top: -25px;
    }
  }
  hr {
    border-top-color: #fff;
  }
  a {
    color: $yellowgreen;
  }
  .register-form-box {
    display: flex;
    align-items: center;
    justify-content: center;
  };
  .center-form-box,
  .event-form-box {
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: $darkgreen;
  }
  .event-history {
    // background-color: #fff;
    h2 {
      color: $white;
    }
  }
}

.edit-event-body,
.edit-center-body {
  background: $darkgreen;
  background: url('../images/camera.jpg') 0% 0%/cover, linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}

.edit-event-form,
.edit-center-form {
  background-color: rgba(255,255,255,0.55);
  color: #000;
  font-family: $open-sans;
  font-weight: 600;
}

.center-details-page {
  ul {
    li {
      list-style: none;
    }
  }
  list-style: none;
}

.center-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  font-family: 'Lucida Grande';
  font-weight: 500;
  margin-bottom: 30px;

  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .card-main {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;

    .main-left {
      margin-right: 20px;
      height: 700px;
      width: 600px;
      margin-left: 20px;
      border: 1px solid #16534e;
      .card-img {
        padding: 5px;
        height: 100%;
        border: 1px solid #16534e;
        img {
          height: 100%;
        }
      }
      .card-body {
        h3 {
          padding-top: 15px;
          justify-content: left;
        }
        border: 1px solid #16534e;
        padding-left: 16px;
        margin: 5px;
      }
    }

    .main-right {
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      height: 700px;
      width: 400px;
      border: 1px solid #16534e;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 25px;


      .description {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 100%;
        border-bottom: 1px solid #16534e;
        .name-capacity {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: 25px;
        }
        .price {
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
        .buttons {
          display: flex;
          justify-content: center
        }
      }

      .calendar {
        height: 250px;
        width: 100%;
        margin-top: 15px;
        border: 1px solid #16534e;
      }
    }
  }
}

// Center page
.main {
  background: url('../images/camera.jpg') 0% 0%/cover, linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  // background-color: #eee;
  padding-top: 30px;
  h3 {
    font-family: 'Lucida Grande';
    font-weight: 500;
    color: white;
  }
  .cards {
    padding-top: 30px;
    .card {
      cursor: pointer;
      background-color: #eee;
      margin-bottom: 30px;
      transition:  all .8s ease-in-out;

      .card-header {
        background-color: $darkgreen;
        color: white;
        text-transform: uppercase;
      }
      .card-body {
        height: 450px;
        img {
          margin-bottom: 1em;
        }
        .card-text {
          text-align: left;
          font-family: 'Lucida Grande';
          padding-left: 1em;
          margin-bottom: 4px;
        }
      }
      .card-footer {
        background-color: $darkgreen;
      }
      &:hover {
        transform: scale(1.04);
      }
    }
  }

}

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: $darkgreen;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    &:hover {
    color: white;
    transform: scale(1.04);
    }
    .my-float {
      margin-top: 22px;
    }
  }

.hidden {
  display: none;
}

.hovered {
  font-weight: bold;
  color: black;
}

.normal {
  color: goldenrod;
}

.rc-pagination-options-quick-jumper::before {
  content: 'Jump to' !important;
  color: white;
}

.rc-pagination-item-active {
  background-color: #16534e !important;
  color: white;
}

.rc-pagination-options-quick-jumper::before {
  content: 'Jump to' !important;
  color: white;
}

.rc-pagination-item-active {
  background-color: #16534e !important;
  color: white;
}

.custom-pagination {
  padding-bottom: 28px;
  margin-bottom: 0;

  ::after {
    background: rgb(224, 228, 230);
    color: rgb(26, 2, 16);
  }
}

/* event card */
.event-card {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 195px;
  font-family: $open-sans;
  font-weight: 500;
  margin-bottom: 30px;

  /* event card header */
  .e-card-header {
    display: flex;
    flex-direction: row;
    margin: 18px 40px;
    min-width: 70%;
    height: 10%;
    justify-content: space-between;

    // location
    .e-card-location {
      margin-left: 30px;
      margin-top: 5px;
      font-size: 15px;
      font-weight: 300;
    };

    // date
    .e-card-date {
      margin-right: 35px;
      margin-top: 5px;
      font-size: 1em;
      font-weight: 400;
    }
  };

  /* event card body */
  .e-card-body {
    display: flex;
    flex-direction: column;
    // background-color: #eee;
    // color: #000;
    background-color: #726f75;
    color: white;
    margin: 5px 40px;
    min-width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .6s ease-in-out; 

    &:hover {
      transform: scale(1.04);
      background-color: #16534e;
      color: #fff;
    }

    .e-card-body-top {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 100%;
      justify-content: space-between;

      // event ttile
      .e-card-title {
        margin-left: 30px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 1.3em;
      };

      // event deatils button
      .e-card-button {
        width: 80px;
        height: 38px;
        margin-top: 21px;
        margin-right: 25px;
        // border: 2px solid #2196F3;
        color: dodgerblue;
        font-size: 16px;
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
          background: #2196F3;
          color: white;
        }
      };

    };

    .e-card-body-bottom {
      height: 50%;
      width: 70%;
      margin-left: 30px;
      padding-top: 18px;
    };

  }
}

.e-list-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../images/camera.jpg') 0% 0%/cover, linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  color: white;

  h3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Lucida Grande';
    font-weight: 500;
  }

  .e-list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    // margin-top: 20px;
  }
}
