$white: #fff;
$greenyellow: #adff2f;
$yellowgreen: #9acd32;
$darkgreen: #16534e;
// 16534e
$black: #000;
$Quicksand: 'Quicksand', sans-serif;
$btn-success: #5cb85c;

body {
	font-family: $Quicksand;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

// Header
#header {
	background-color: $darkgreen;
	span.navbar-toggler-icon {
		background-color: $white;
		height: 0.1em;
		margin-bottom: 5px;
		display: block;
	};
	a.navbar-brand {
		font-weight: 600;
		font-size: 21px;
		&:hover {
			font-size: 22px;
		}
	};
	a {
		color: $white;
		&:hover {
			color: $greenyellow;
			// font-size: 21px;
		}
	};
}

// Footer
footer {
	background-color: $darkgreen;
	.footer-header {
		color: $white;
		font-weight: 600;
		margin-bottom: 30px;
		margin-top: 30px;
		// &:hover {}
	};
	.footer-para {
		color: $white;
	};
	.social-link {
		color: $white!important;
		display: block;
		margin-bottom: 25px;
		padding-left: 16px;
		&:hover {
			color: $yellowgreen!important;
			font-size: 22px;
			text-decoration: none;
		}
	};
}

#introduction {
	font-family: $Quicksand;
	background: url(https://goo.gl/NKjMHZ) 0% 0%/cover;
	font-weight: 600;
	color: $white;
}
#info-1, #pictures{
  background-color: $white;
}
.fill-viewport {
	min-height: 100vh;
}

img {
	width: 100%;
	height: 300px;
}
// h4 {
// 	margin-top: 30px;
// }

// register and login pages
.register-page, .login-page, .add-center-page, .add-event-page {
	background-color: $darkgreen;
	#form-box {
		font-weight: 500;
		background-color: $white;
		font-family:  cursive, serif;
		h2 {
			font-weight: 500;
		};
	};
	hr {
		border-top-color: #fff;
	};
	a {
		color: $yellowgreen
	};
	.center-form-box, .event-form-box {
		margin-bottom: 30px;
		margin-top: 20px;
		background-color: $darkgreen;
	};
	.event-history {
		// background-color: #fff;
		h2 {
			color: $white;
		}
	}
}

.edit-event-form, .edit-center-form {
	background-color: $darkgreen;
	color: white;
	font-weight: bold;
}

.center-details-page {
	ul {
		li {
			list-style: none;
		}
	}
	list-style: none;		
}

// Center page
#main {
	background-color: $white;
	padding-top: 30px;
	.cards {
		// background-color: #ffffff;
		padding-top: 30px;
		.card {
			background-color: rgb(241, 234, 234);
			margin-bottom: 30px;
			.card-header {
				background-color: $darkgreen;
				color: white;
				text-transform: uppercase;
			};
			.card-body {
				.card-text {
					font-family: cursive;
				}
			};
			.card-footer {
				background-color: $darkgreen;
			}
		};
	};
}

.hidden{
	display: none;
}

.hovered {
	font-weight: bold;
	color: black
}

.normal {
	color: goldenrod
}