body {
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h2 {
  margin-top: 40px;
}

#form {
  font-family: 'Quicksand', sans-serif;
  background: url(https://goo.gl/ZT1Nhq) 0% 0%/cover;
  font-weight: 600;
  color: white;
}

#modify-form {
  font-family: 'Quicksand', sans-serif;
  background: url(https://goo.gl/rHLz65) 0% 0%/cover;
  font-weight: 600;
  color: white;
}

.fill-viewport {
  min-height: 100vh;
}

#header {
  background-color: #16534e;
  /*background-color: #1abc9c;*/
}

span.navbar-toggler-icon {
  background-color: white;
  height: 0.1em;
  margin-bottom: 5px;
  display: block;
}

#cards {
  background-color: #f3ecec;
}

.card {
  margin-top: 30px;
  color: white;
  background-color: #726f75;
}

.card:hover {
  /* color: black;*/
  background-color: #16534e;
  /* background-color: #0cb940;*/
  bottom: 5px;
}

a.navbar-brand {
  font-weight: 700;
  font-size: 21px;
}

a.navbar-brand:hover {
  font-size: 22px;
}

a {
  color: white;
}

a:hover {
  color: greenyellow;
  font-size: 20px;
}

h4 {
  margin-top: 30px;
}

footer {
  background-color: #16534e;
}

.footer-header {
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Dancing Script', Georgia, Times, serif;*/
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer-para {
  color: white;
}

.social-link {
  color: white;
  display: block;
  margin-bottom: 25px;
}

.social-link:hover {
  color: yellowgreen;
  font-size: 20px;
  text-decoration: none;
}
