body {
	background-color: #16534e;
	font-family: 'Quicksand', sans-serif;
  min-height: 1000px;
}

#header {
  background-color: black;
}

a.navbar-brand{
  font-weight: 500;
}

a {
  color: white;
}

a:hover {
  color: greenyellow;
  font-size: 21px;
}


h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 59px;
  line-height: 60px;
  margin-bottom: 30px;
  color: #16534e;
}
h2:hover {
  font-size: 70px;
}

#form-box {
  margin-top: 60px;
  background-color: #fff;
}

p>a {
  color: black;
}
p>a:hover {
  color: #16534e;
  font-size: 18px;
}