body {
	background-color: #16534e;
	font-family: 'Quicksand', sans-serif;
  color: black;
  min-height: 1000px;
}

a.navbar-brand{
  font-weight: 600;
}


h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 59px;
  line-height: 60px;
  margin-bottom: 30px;
  color: #16534e;
}

#form-box {
  margin-top: 60px;
  background-color: #fff;
}